# Xóa dòng "version: '3.8'" ở trên
services:
  postgres-db:
    image: postgres:15-alpine  # <-- Chỉ định rõ phiên bản (ví dụ: 15)
    container_name: apartment_postgres
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: apartment_db
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
    driver: local